#video-container {
    margin: 0 auto;
    width: 50vw;
}

#nav-bar {
    display: flex;
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    width: 100%;
}

#video {
    width: 50vw;
    height: 500px;
}

@media (max-width: 768px) {
    #video {
        width: 100vw;
        height: 250px;
    }
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: transparent;
  }
  nav li a {
    color: black;
    display: block;
    text-decoration: none;
    padding: .5em 1em;
  }
  nav li a:hover {
    background: none;
    color: #333;
  }

  @media screen and (min-width: 990px) {
    nav ul {
      display: flex;
    }
  }